<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="laser_min_range" value="0.1"/>
  <xacro:property name="laser_max_range" value="200.0"/>
  <xacro:property name="samples" value="30000"/>
  <xacro:property name="resolution" value="0.002"/>
  <xacro:property name="noise_mean" value="0.0"/>
  <xacro:property name="noise_stddev" value="0.002"/>
  <xacro:property name="topic" value="/scan"/>

  <xacro:property name="mass" value="0.4" />
  <xacro:property name="length" value="0.1" />
  <xacro:property name="width" value="0.06" />
  <xacro:property name="height" value="0.06" />

  <xacro:macro name="box_inertia" params="m w h d">
    <inertial>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (h*h + d*d)}" ixy="0.0" ixz="0.0" iyy="${(m/12) * (w*w + d*d)}" iyz="0.0" izz="${(m/12) * (w*w + h*h)}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="mid360" params="name:='' parent:= 'base_link' topic:='mid360' *origin ">

    <link name="livox_link">
      <visual>
        <origin xyz="0.025 -0.0265 -0.025" rpy="${pi/2} 0 ${pi}"/>
        <geometry>
          <mesh filename="file:///home/aurora/RM25/src/rm_simulation/rm_robot_description_sim/meshes/mid360.stl" scale="0.0008 0.0008 0.0008"/>
        </geometry>
      </visual>
    </link>

    <joint name="${name}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="livox_link"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <gazebo reference="${name}">
      <sensor type="ray" name="${name}">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>10</update_rate>
        <!-- 仿真使用-->
        <plugin name="${name}_plugin" filename="libros2_livox.so">
        <!--plugin name="${name}_plugin" filename="libgazebo_ros_gpu_laser.so"-->
          <topic>livox/points</topic>
          <output_type>sensor_msgs/PointCloud2</output_type>
          <frameName>livox_link</frameName>
          <updateRate>10</updateRate>
        <!-- 真实使用-->
        <!-- plugin name="${name}_pluging" filename="libros2_livox.so"-->
          <ray>
            <scan>
              <horizontal>
                <samples>360</samples>
                <resolution>1</resolution>
                <min_angle>${0}</min_angle>
                <max_angle>${2*pi}</max_angle>
              </horizontal>
              <vertical>
                <samples>1</samples>
                <resolution>1</resolution>
                <min_angle>${-7.22/180*pi}</min_angle>
                <max_angle>${55.22/180*pi}</max_angle>
              </vertical>
            </scan>
            <range>
              <min>${laser_min_range}</min>
              <max>${laser_max_range}</max>
              <resolution>${resolution}</resolution>
            </range>
            <noise>
              <type>gaussian</type>
              <mean>${noise_mean}</mean>
              <stddev>${noise_stddev}</stddev>
            </noise>
          </ray>
          <visualize>true</visualize>
		  <samples>${samples}</samples>
		  <downsample>1</downsample>
		  <csv_file_name>$(find ros2_livox_simulation)/scan_mode/mid360.csv</csv_file_name>
		  <topic>${topic}</topic>
          <!--topic>${topic}</topic -->
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
